* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    flex-wrap: wrap;
}

.item {
    width: 100px;
    height: 100px;
    background-color: #bcd39c;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}