body {
    color: black;
    margin: 2cm;
}

h1 {
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-size: 14pt;
    line-height: 1.5;
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
}