body {
    background-color: thistle;
}

header {
    background-color: darkslateblue;
    padding: 10px;
    text-align: center;
}

nav > ul > li > a {
    text-decoration: none;
    color: white;
    
}